<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>Totem GDN</title>
</head>
<script>
  (function() {
    const redirectURL = new URL('{{redirectURL}}');
    const hashParams = new URLSearchParams(window.location.hash.substring(1));
    if (!hashParams.has('access_token')) {
      redirectURL.searchParams.append('error', 'invalid_token');
      redirectURL.searchParams.append('error_description', 'Invalid access token');
    } else {
      for (let [k, v] of hashParams) {
        redirectURL.searchParams.append(k, v);
      }
    }
    window.location.replace(redirectURL);
  })();
</script>
<body></body>
</html>
