apiVersion: v1
kind: Service
metadata:
  labels:
    app: account-gateway
  name: account-gateway
spec:
  ports:
    - name: http
      port: 80
      targetPort: 3000
  selector:
    app: account-gateway
